// Layout of project pages

// Container devices

$container-xl: 1440px;
$container-l: 1140px;
$container-m:960px;
$container-s:540px;

// Mixins of media queries

@mixin responsive($device) {
  
  @if $device == xl {
    // For resolutions upper than 1440px
    @media  screen and (min-width: $container-xl){
      @content;
    }
  }

  @else if $device == l {
    // For resolutions between 1140px and 1440px
    @media  screen and (max-width: $container-xl) and (min-width: $container-l){
      @content;
    }
  }

  @else if $device == m {
    // For resolutions between 960px and 1140px
    @media  screen and (max-width: $container-l) and (min-width: $container-m){
      @content;
    }
  }

  @else if $device == s {
    // For resolutions less than 960px
    @media  screen and (max-width: $container-m){
      @content;
    }
  }

  @else if $device == xs {
    // For resolutions less than 540px
    @media  screen and (max-width: $container-s){
      @content;
    }
  }
}

header{
height:100vh;
}

.container{
  max-width: $container-xl;
  margin:0 auto;
  padding: 96px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  overflow: hidden;

  @include responsive(s){
    flex-direction:column;
    padding: 32px 18px;
  }
}

.container-footer{
  max-width: $container-xl;
  margin:0 auto;
  padding: 15px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  overflow: hidden;

  @include responsive(s){
    flex-direction:column;
    padding: 32px 18px;
  }
}

.flex-start{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column{
  flex-direction: column;
  text-align: start;
}
.flex-row{
  display: flex;
  flex-direction: row;
}

.responsive{
  position: relative;
}

.flex-wrap{
  flex-wrap: wrap;
}

.flex-item-1{
  flex: 1 1 360px;
}

.flex-item-2{
  flex: 2 1 360px;

}

.flex-item-3{
  flex: 3 1 360px
}

.flex-item-4{
  flex: 4 1 360px;
}

.flex-item-5{
  flex: 5 1 360px;
}

.flex-item-auto{
  flex: 1 1 auto;
}

.w-auto{
  width: auto;
}

.w-100{
  width: 100%;
}

.w-75{
  width: 75%;
}


.w-50{
  width: 50%;
}

.w-25{
  width: 25%;
}

.hidden{
  overflow: hidden;
}

.hero{
  height: 100vh;
  @include responsive(s){
  height: auto;
  }
}

table{
text-align: center;

th{
  font-size:35px;
  padding: 10px;
  border: 3px solid black;
}

td{
  font-size:25px;
  padding: 10px;
  border: 2px solid black;
}

.cabecalho{
  background-color:#5AE9E9;
  font-size: 15px;
  padding:10px;
}

.magra{
  background-color:#A8DFAE;
}

.normal{
  background-color:#49D706;
}

.sobrepeso{
  background-color:#F1CB00;
}

.obesidade{
  background-color:#E07272;
}

.grave{
  background-color:#FF0000;
}

}

.button{
  width:100%;
}

input{
  width:50%;
  height:60px;
  border-radius:10px;
  font-size: 20px;
  text-align: center;
  
  &:active{
    border:2px solid rgb(255, 0, 0);
  }
  
}

.imc{
  height: 100vw;
}